html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  background-color: #fafafa;
  color: #fafafa;
  min-width: 240px;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 2em;
}

button {
  width: 3em;
  height: 3em;
  border: none;
  border-radius: 50%;
  background: none;
  text-decoration: none;
  outline: none;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

header {
  height: auto;
  display: flex;
  align-items: center;
  background-color: #0077c2;
}

header img {
  height: 4em;
  padding: 0.5em;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
}

nav {
  height: auto;
  min-height: 3em;
  background-color: #42a5f5;
}

nav ul {
  height: auto;
  margin: 0;
  padding: 1em;
  list-style: none;
}

nav li {
  height: auto;
  display: inline;
  padding-right: 1em;
}

nav a {
  font-size: 1.2em;
  color: #fafafa;
  text-decoration: none;
}

nav a:hover, nav .active {
  color: #dadada;
}

nav button {
  display: none;
  position: absolute;
}

main {
  padding: 0.5em;
}

main .row {
    display: flex;
    flex-direction: row;
}

main .col {
    flex: 1 1 1em;
    background: #dadada;
    padding: 0.5em;
    margin: 0.5em;
}

main .slider-container {
  height: 20em;
  position: relative;
}

main .slider-image {
  display: flex;
  align-items: center;
  height: 100%;
}

main .slider-image img {
  box-sizing: border-box;
  animation-name: fade-image;
  animation-duration: 0.5s;
  margin: auto;
  max-width: 100%;
  height: 100%;
}

main .slider-container button {
  position: absolute;
  top: 50%;
}

main .slider-container button:hover {
  color: #6a6a6a
}

main .slider-container .right {
  right: 0;
}

main .col-filler {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-filler .col {
  flex: 1 1 calc(50% - 2em);
  display: flex;
  padding: 0.5em;
  margin: 0.5em;
}

.col-filler .content h2 {
  margin: 0;
}

.col-filler .col > span {
  flex: 1 1 auto;
}

.col-filler button {
  color: #fafafa;
  background: none;
  text-decoration: none;
}

.col-filler .content span:not(.preview):not(.show), .col-filler .content img:not(.preview):not(.show) {
  display: none;
}

.col-filler .content img {
  margin: 0.5em;
  max-width: 100%;
}

.zoomed {
  flex: 1 1 100% !important;
}

.colfiller .image-container {
  display: table;
}

.col-filler .image-container img {
  margin: 0.5em;
  width: calc(33% - 1em);
  float: left;
}

main .video {
  min-height: 40em;
  position: relative;
  text-align: center;
}

main .video-container {
  display: flex;
  align-items: center;
  height: 100%;
}

main .video-container img {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  height: auto%;
}

footer {
  padding: 0.5em;
  width: calc(100% - 1em);
  text-align: center;
  background-color: #80d6ff;
  position: absolute;
  bottom: 0;
  margin-top: 0.5em;
  height: 1.5em;
}

@media screen and (max-width: 1024px) {
  nav ul {
    flex: 1 1 auto;
    display: flex;
  }

  nav ul li {
    flex: 1 1 auto;
    border: none;
    text-align: center;
  }

  main {
    padding: 0;
  }

  main .row {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  main .row .col {
    margin: 0;
    margin-top: 0.5em;
  }

  main .row:last-child, .col-filler .col:last-child {
    margin-bottom: 0.5em;
  }

  .col-filler .col {
    flex: 1 1 100%;
    display: flex;
    padding: 0.5em;
    margin: 0;
    margin-top: 0.5em;
  }

  .col-filler .content img {
    width: calc(50% - 1em);
    margin: 0.5em;
  }
}

@media screen and (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    padding: 0.5em;
  }

  nav button {
    display: block;
  }

  main .col {
    margin-left: 0;
    margin-right: 0;
  }

  .col-filler .content img {
    width: calc(100% - 1em);
  }
}

@keyframes fade-image {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
